body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.ball {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: red;
    transition: all 0s linear;
    position: absolute;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.ball2 {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: red;
    transition: all 0s linear;
    display: flex;
    align-items: center;
    justify-content: center;
}