body {
    margin: 0;
}

.form {
    width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

input, select, input[type=checkbox],textarea {
padding: 10px 20px;
border: 1px solid lightgray;
}

textarea {
    grid-column: 1/3;
}

select[name="city"] {
    grid-column: 2/3;
    grid-row: 2/3;
}
