:root {
    --dark-color: #4f4a60;
    --secondary-color: #d9dbdc56;
    --pink-color: #ebb5ac;
    --white-color: #fff;
}

.flex {
    display: flex;
}


.flex-start {
    justify-content: flex-start;
}

.f-dct-col-a-center {
    flex-direction: column;
    align-items: center;
}


.mg-auto {
    margin: auto;
}


.d-block {
    display: block;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.btm-right-0 {
    bottom: 10px;
    right: 10px;
}

.pink-color {
    color: #ebb5ac;
}

.secondary-color {
    color: #d9d9d9;
}