body {
    font-family: 'Poppins', sans-serif;}

.container {
    max-width: 1200px;
    position: relative;

}

.single-goods-container {
    border: solid red;
    max-width: 278px;
    position: relative;
    margin:  auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.border-hover {
    border: 2px solid  #888888;
    /* box-sizing: border-box; */
    /* margin:40px; */
    position: absolute;
    padding: 10px 0;
    width: 110%;
    height: 100%;
    display: none;  
}

.single-goods-container:hover .onlyhover  {
    display: flex;
    flex-direction: column;
}

.addtocart {
    /* border: solid; */
    font-size: 14px;
    padding: 10px 29px;
    background: #ebb5ac;
    color: #000000;
    font-weight: 500;
    display: none;
    box-sizing: border-box;
    text-align: center;
}

.img-container {
    border: solid;
    max-width: 272px;
    height: 350px;
    position: relative;
    margin-bottom: 15px;
}

.img-container img {
  box-sizing: border-box;
  object-fit: cover;
  max-width: 272px;
  height: 350px;
}

.top-decoration {
    /* border: solid black; */
    padding: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #fff;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;   
}



.dropdown-hover {
    display: none;
}


.img-container i {
    /* border: solid; */
    font-size: 23px;
    box-sizing: border-box;

}

.single-goods-content {
    text-align: left;
}

ul {
    font-size: 11px;
    height: 18px;
    line-height: 18px;
    /* width: 6em; */
    letter-spacing: 2px;
    margin: 0 auto 7px 0
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    color: #262626;
    font-weight: 400;
    letter-spacing: 0.6px;
    font-family: 'Poppins', sans-serif;}

span {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    letter-spacing: 0.6px;
}