body {
  font-family: "Jost", sans-serif;
  border: solid red;
  // box-sizing: border-box;
}

.flex {
  display: flex;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.justify-between {
  display: flex;
  justify-content: space-between;
}

.align-center {
  display: flex;
  align-items: center;
}

.f-wrap {
  display: flex;
  flex-wrap: wrap;
}

.f-dct-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.f-column {
  display: flex;
  flex-direction: column;
}

.f-dct-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.f-column-flexend {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.max-width-1310 {
  width: 1310px;
}
