.btn-1 {
  @extend .btn;
  background-color: blue;
}

.btn-2 {
  @extend .btn;
  background-color: blue;
}

.btn-3 {
  @extend .btn;
  background-color: blue;
}

.btn-4 {
  @extend .btn;
  background-color: blue;
}
