

.maincontainer {
    border: 1px solid black; 
    width: 1316PX;
    height: 658px;
    padding: 0px;
    margin: 0px;
    background-image:url(../img/ev.jpg);
   
}
.container-contact-social-middle {
   /* border: 1px solid black; */
   width: inherit;
    margin-right: auto;
    margin-left: auto;

}
.contact-social {
    /*border-bottom: 1px solid black; */
    width:INHERIT;
    background-color: rgba(0,0,0,.2);
    padding: px px;
    margin: px;
    display: flex;
    justify-content: space-between;
}
.contact {
   /* border: 0px solid red; */
    padding: px 5px;
    margin: 10px 5px;
    display: flex;
}
 i {
    font-size: 14px;
    margin-right: 15px;
    margin-left: 15px;
}
    

.contact-item {
   /* border-right: 2px solid black; */
    display: flex;
    align-items: center;
}


.social {
     /*border: 2px solid rgb(56, 1, 61); */
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.middle {
   /* border: 2px solid rgb(47, 0, 255); */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.middleazea {
    font-size: 10px;
    font-style: italic;
    margin-left: 20px;
}

.middle-rigt-item span {
    padding-right: 5px;
    margin-right: 20px;
}

.pagepass {
   /* border: 2px solid black; */
    margin: 145px 744px 145px 212px  ;

}
  .layi {
      border: 1px solid yellow;
      border-radius: 5px;
      width: 130px;
      height: 10px;
      margin: 5px 20px;
      padding: 10px 30px;
      font-size: 20px;
      font-weight: 500;
      color: white;
    
     

 }