.box-container{
    width: 1200px;
    margin: 0 auto;
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    /* gap: 20px; */
}

.box {
    width: 400px;
    height: 200px;
    background-color: grey;
}