.btn, .btn-1, .btn-1-hover, .btn-2, .btn-2-hover, .btn-3, .btn-3-hover, .btn-4, .btn-4-hover, .goback, .goback-hover, .goback-dark, .goback-dark-hover {
  border-radius: 10px;
  width: 158px;
  height: 44px;
  text-align: center;
  vertical-align: middle;
  position: relative;
}

.btn-before::before, .goback, .goback-hover, .goback-dark, .goback-dark-hover {
  position: absolute;
  top: 50%;
  content: '';
  margin-right: 1rem;
}

.btn-1 {
  background: #ad1fea;
}

.btn-1-hover {
  background: #c75af6;
}

.btn-2 {
  background: #4661e6;
}

.btn-2-hover {
  background: #7c91f9;
}

.btn-3 {
  background: #3a4374;
}

.btn-3-hover {
  background: #656ea3;
}

.btn-4 {
  background: #d73737;
}

.btn-4-hover {
  background: #e98888;
}

.goback {
  background: #d73737;
  color: #647196;
}

.goback-hover {
  color: #647196;
}

.goback-dark {
  background: #373f68;
  color: white;
}

.goback-dark-hover {
  background: #373f68;
  color: white;
}
