h2, p {
  margin: 0;
  padding: 0;
}

.Font-bold-latter {
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 9.55px;
  font-style: normal;
  font-weight: bold;
  color: #3a4374;
}

.font-thin-letter {
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 9.55px;
  font-style: normal;
  color: #3a4374;
}

.item-container .purple-color {
  background: #ad1fea;
  width: 255px;
  height: 109px;
}
