.interactive {
  border-radius: 10px;
  background: #f2f4fe;
  width: 40px;
  height: 53px;
  padding: 0 11px;
  color: #3a4374;
  font-family: 700;
  font-size: 13px;
  line-height: 18.79px;
  letter-spacing: -0.18px;
  text-align: center;
  vertical-align: center;
}
