// Ümumi dizayn sistemi yəni layihənin eksizini hazırlamaq üçün lazım olan classlar burda qeyd olunacaq



.w825-h72 {
  width: 825px;
  height: 72px;
  border-radius: $space-x;
  margin-bottom: $space-24x;
  padding: $space-29-9x $space-23x;
  color: white;
  align-items: center;
  box-sizing: border-box;
}
