// Ümumi dizayn sistemi yəni layihənin eksizini hazırlamaq üçün lazım olan classlar burda qeyd olunacaq

.item-container {
  .purple-color {
    width: 9px;
    height: 109px;
  }
}

.w825-h72 {
  width: 825px;
  height: 72px;
  border-radius: 10px;
  margin-bottom: 24px;
  padding: 29.9px 23px;
  color: white;
  align-items: center;
  box-sizing: border-box;
}
