//Layihədə istifadə olunacaq bütün font və şriftlərlə bağlı classlar burda qeyd olunacaq. Dizayn sisteminde o hissə üçün nələr yazacağınız verilib
.Font-bold-latter {
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 9.55px;
  font-style: normal;
  font-weight: bold;
  color: $rhino-fade-1;
  background: black;
}

.font-thin-letter {
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 9.55px;
  font-style: normal;
  color: $rhino-fade-1;
}

.font-s13-w6 {
  font-size: 13px;
  font-weight: 600;
}

.font-s13-w7 {
  font-size: 13px;
  font-weight: 700;
}

.font-s14-w4 {
  font-size: 14px;
  font-weight: 400;
  color: $magnolia-1;
}

.font-s14-w7 {
  font-size: 14px;
  color: $magnolia-1;
  font-weight: 700;
}

.font-s16-w4 {
  font-size: 16px;
  font-weight: 400;
}

.font-s16-w7 {
  font-size: 16px;
  font-weight: 700;
}

.font-s18-w7 {
  font-size: 18px;
  font-weight: 700;
}
