// Layihədə istifadə olunacaq bütün dəyişənlər burda qeyd olunacaq

$space-2x: 1px;
$space-5x: 5px;
$space-8x: 8px;
$space-9-55x: 9.55px;
$space-x: 10px;
$space-11x: 11px;
$space-13x: 13px;
$space-14x: 14px;
$space-16x: 16px;
$space-18x: 18px;
$space-18-79x: 18.79px;
$space-20-23x: 20.23px;
$space-20x: 20px;
$space-24x: 24px;
$space-40x: 40px;
$space-23x: 23px;
$space-24x: 24px;
$space-28x: 28px;
$space-29-9x: 29.9px;
$space-32x: 32px;
$space-53x: 53px;

