//Layihədə istifadə olunacaq bütün rənglərlə bağlı classlar burda qeyd olunacaq. Dizayn sisteminde o hissə üçün nələr yazacağınız verilib

$purple: #ad1fea;
$purple-fade: rgba(199, 90, 246, 1);
$ultramarine-blue: #4661e6;
$crystal-blue: rgba(124, 145, 249, 1);
$rhino: rgb(55, 63, 104);
$Waikawa-drey: rgba(101, 110, 163, 1);
$white: rgb(255, 255, 255);
$magnolia: #F2F4FF;
$ghost-white: rgb(247, 248, 253);
$rhino-fade: rgb(58, 67, 116);
$gray-fade: rgb(100, 113, 150);
$orange: rgb(244, 159, 133);
$sky: rgb(98, 188, 250);
$red: rgba(215, 55, 55, 1);
$red-fade: rgba(233, 136, 136, 1);
