@import "reset";
@import "variables";
@import "layout";
@import "colors";
@import "typography";

.item-container {
  .purple-color {
    background: $purple;
    width: 255px;
    height: 109px;
  }
}
