:root {
  --white-color: #fff;
  --blue-color: #2e4db9;
}

.max-width-1200 {
  max-width: 1200px;
}

.mg-top-20 {
  /* border: solid 1px; */
  margin: 20px auto 0 auto;
  box-sizing: border-box;
}

.mg-auto {
  margin: auto;
}

.mg-0 {
  margin: 0 !important;
}

.padding-left-right-15 {
  padding: 0 0.938rem;
}

.padding-btm-15 {
  padding-bottom: 15px;
}

.p-relative {
  position: relative;
}

.object-cover {
  object-fit: cover !important;
}

.text-center {
  /* border: solid 1px; */
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--blue-color);
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.title-text-content h2 {
  /* border: solid 1px; */
  text-transform: uppercase;
  line-height: 1.2;
  font-size: 250%;
  color: var(--blue-color);
  display: block;
  margin-top: 0;
  margin-bottom: 15px;
}

.title-text-content ul {
  padding: 0px;
  margin: 5px 0 30px 0px;
  font-size: 30px;
  transform: rotate(180deg);
}

.title-text-content ul > li {
  margin-left: 1px;
  margin-right: 1px;
  background-color: var(--blue-color);
}

.title-text-content ul > li:nth-child(1) {
  width: 10px;
  height: 2px;
}

.title-text-content ul > li:nth-child(2) {
  width: 20px;
  height: 3px;
}

.title-text-content ul > li:nth-child(3) {
  width: 30px;
  height: 4px;
}

.title-text-content ul > li:nth-child(4) {
  width: 20px;
  height: 3px;
}

.title-text-content ul > li:nth-child(5) {
  width: 10px;
  height: 2px;
}

.title-text-content p {
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  display: block;
  padding-bottom: 5px;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.space-around {
  display: flex;
  justify-content: space-around;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.flex {
  display: flex;
}

.flex-dct-column {
  flex-direction: column;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.call-whatsapp {
  /* border: solid; */
  width: 99%;
  padding: 0 2%;
  margin: auto;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 6px;
  right: 0;
  left:0;
  z-index: 9999;
}

.call,
.whatsapp {
  /* border: solid; */
  width: 40px;
  height: 40px;
  padding: 1.8%;
  font-size: 2rem;
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(1 141 67);
}

.whatsapp {
  /* border: solid black; */
  background-color: rgb(90 241 118);
  color: var(--white-color);
}

.call i {
  color: var(--white-color);
}

.partner-content-container {
  /* border: solid; */
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.313;
  text-align: center;
  box-sizing: border-box;
  object-position: center;
  padding: 0 1%;
}

.partner-content-img img {
  /* border: solid; */
  width: 78%;
  height: 200px;
  box-sizing: border-box;
}

@media (max-width: 576px) {
  .call-whatsapp  {
  width: 95%;
  margin: auto;
}
  .partner-content-container {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }

  .partner-content-container img {
    width: 90%;
  }
}





.top-heading-background {
  /* border: solid; */
  background-color: #f2f3f7;
  margin: 0;
  padding: 0.938rem 0;
}

.top-heading-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  background-color: #f2f3f7;
  align-items: center;
}

.top-heading-container a,
span {
  color: #2c2d3e;
  font-size: 0.875rem;
}

.top-heading-container i {
  margin-right: 5px;
  color: #2e4db9;
}

.banner {
  /* border: solid; */
  background-image: url(../img/filter-bg.jpg);
  background-position: center center;
  background-size: cover;
  position: relative;
  height: 410px;
  display: flex;
  flex-direction: column;
}

.top-direction-container {
  /* border: solid 2px black; */
  color: #2c2d3e;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  max-width: 1200px;
  margin: auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-direction-container img {
  border-radius: 15%;
  object-fit: fill;
}

.top-direction-pages a {
  /* border: solid; */
  margin: 0 1.2rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  color: #2c2d3e;
  text-decoration: none;
}

.container-contact-socialmedia {
  /* border: solid 2px;  */
  box-sizing: border-box;
  padding: 0 0.8%;
  display: flex;
  justify-content: center;
}

.container-contact-socialmedia a {
  padding-right: 5%;
  margin-top: 0;
  font-size: 1.125rem;
  color: #2c2d3e;
  box-sizing: border-box;
}

/* navmobile-container-begin */
.navmobile-container {
  padding: 5px 15px 5px 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.navmobile-container img {
  border-radius: 10px;
}

.navbar-mobile-socialmedia {
  /* border: solid 2px;  */
  box-sizing: border-box;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-mobile-socialmedia a {
  color: #2c2d3e;
  margin-left: 1.1rem;
}

.dropdown {
  /* border: solid #212529; */
  display: flex;
}

.dropdown i {
  margin-left: 1rem;
  color: #2c2d3e;
}

.dropdown > li a {
  /* border: 1px solid; */
  color: #1a06cf;
  border-bottom: 1px solid;
  display: block;
  margin: 7px;
  padding: 7px;
  font-size: 1.125rem;
  font-weight: 600;
}

.dropdown > li {
  position: relative;
  border: 1px;
}

.dropdown > li > ul {
    display: none;
    flex-direction: column;
    width: 320px;
    box-sizing: border-box;
    background-color: #fff;
    transition: all 1s ease;
}

.dropdown > li:hover ul {
    display: block;
    box-sizing: border-box;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    top: 25px;
    right: 0;
    left: -300px;
    transform: translateX(-1%);
}

@media (max-width: 576px) {
  .navbar-desktop {
    display: none;
  }

  #navbar-mobile {
    display: block;
  }
  .top-heading-background {
    display: none;
  }
}

@media (min-width: 576px) {
  .navbar-desktop {
    display: block;
  }

  #navbar-mobile {
    display: none;
  }
}

.endpart-container {
  /* height: 80vh; */
  background-color: var(--blue-color);
  padding: 0.1% 5% 0 5%;

}

.news-subscribe {
  border-top: dashed #fff 1px;
  margin-top: 1rem;
}

.all-info-header {
  /* border: solid; */
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.all-info-header h5 {
  margin: 1rem 0 0.5rem 0;
  font-size: 2rem;
}

.all-info-header p {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  text-align: center;

}



.all-info {
  /* border: solid; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: var(--white-color);
  padding: 2% 1.5%;
  font-size: 0.875rem;
  box-sizing: border-box;
}

.all-info a {
  color: #fff;
  font-size: 1rem;
}



.end-footer {
  /* border: solid; */
  background-color: #2746b3;
  padding: 0 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.end-footer-social a {
  /* border: solid; */
  padding-right: 0.5rem;
  margin-top: 0;
  font-size: 1.125rem;
  font-family: 400;
  color: var(--white-color);
  box-sizing: border-box;
}

.end-footer p {
  color: var(--white-color);
}



@media (max-width: 576px) {
  .endpart-container {
    /* border: solid 1px red ; */
    padding: 0.1% 4% 0 4%;
    box-sizing: border-box;
    height: 100%;

  }

  .end-all-info {
    flex-direction: column;
  }

  .all-info-header {
    border-bottom: 1px dashed;
    max-width: 100%;
    font-size: 2rem;
  }

  .all-info-header p {
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 1.375rem;
  }

  .all-info {
    /* border: solid; */
    max-width: 100%;
    font-weight: 100;
    flex-direction: column;
    padding-top: 16px;
    padding-bottom: 0;
  }

  .all-info a {
    font-size: 0.875rem;
    padding-bottom: 1rem;
  }

  .end-footer {
    flex-direction: column;
    padding: 0;
    margin: auto;
  }

  .end-footer p {
    margin: auto;
  }
}
