.top-direction-container {
  /* border: solid; */
  color: rgb(250, 244, 244);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  width: 1200px;
  padding: 1.25rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.top-direction-container img {
  border-radius: 15%;
  object-fit: fill;
}

.top-direction-container-pages a {
  /* border: solid; */
  margin: 0 1.25rem;
  padding: 1.188rem 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  color: black;
  text-decoration: none;
}

.container-contact-socialmedia {
  /* border: solid 2px;  */
  box-sizing: border-box;
  padding: 0 1.5% 0 0.7%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-contact-socialmedia a {
  /* border: solid; */
  padding: 0 3%;
  margin-left: 0;
  font-size: 1.125rem;
  box-sizing: border-box;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.container-contact-socialmedia i {
  /* border: solid red; */
  margin-right: 4%;
  padding: 0%;
}

#navbar-mobile {
  /* border: solid black; */
  width: 100%;
}

.navmobile-container {
  /* border: solid; */
  margin-top: 5px;
  padding: 5px 15px 5px 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.navmobile-container img {
  border-radius: 10px;
}

.navbar-mobile-socialmedia {
  /* border: solid 2px; */
  box-sizing: border-box;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-mobile-socialmedia a {
  margin-left: 1.1rem;
  font-size: 22px;
}

.dropdown {
  /* border: solid #212529; */
  display: flex;
}

.dropdown i {
  /* border: solid; */
  margin-left: 1rem;
  padding-top: 0.5px;
  font-size: 22.5px;
  vertical-align: middle;
}

.dropdown > li a {
  border-bottom: 1px solid;
  display: block;
  margin: 7px;
  padding: 7px;
  text-decoration: none;
  color: black;
  font-size: 1.125rem;
  font-weight: 600;
}

.dropdown > li {
  position: relative;
  border: 1px;
}



.dropdown > li > ul {
  display: none;
  flex-direction: column;
  width: 290px;
  box-sizing: border-box;
  background-color: #fff;
  transition: all 1s ease;
}

.dropdown > li:hover ul {
  display: block;
  box-sizing: border-box;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  top: 25px;
  right: 0;
  left: -260px;
  transform: translateX(-1%);
}

@media (max-width: 576px) {
  .bigmaincontainer {
    display: block;
    width: 100%;
    height: 100%;
  }

  .navbar-desktop {
    display: none;
  }

  #navbar-mobile {
    display: block;
  }
}

@media (min-width: 576px) and (max-width: 800px) {
  .bigmaincontainer {
    display: block;
    width: 100%;
    padding: 0 2%;
    box-sizing: border-box;
  }
  .navbar-desktop {
    display: none;
  }

  #navbar-mobile {
    display: block;
  }
}

@media (min-width: 800px) and (max-width: 1200px) {
  .bigmaincontainer {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 2%;
    box-sizing: border-box;
  }
  .navbar-desktop {
    display: block;
    width: 100%;
  }

  .top-direction-container {
    width: 99%;
  }

  #navbar-mobile {
    display: none;
  }
}

.contact-content-container {
  /* border: solid; */
  width: 1200px;
  height: 100vh;
  margin: auto;
  padding: 5%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
}

.short-info {
  /* border: solid; */
  max-width: 33.33%;
  margin-right: 10px;
}

.short-info h2 {
  font-size: 30px;
  font-weight: 900;
  color: #112c91;
}

.short-info p {
  line-height: 1.5;
  font-size: 18px;
  font-weight: 400;
  color: #002c8f;
}

.work-clock {
  /* border: solid; */
  margin-right: 50px;
}

.work-clock ul {
  margin-bottom: 15px;
}

.work-clock h3{
  color: #112c91;
  font-size: 24px;
  font-weight: 900;
}

.work-clock h4 {
  font-size: 18px;
  font-weight: 700;
  color: #112c91;
  display: inline-block;
}

.work-clock span {
  line-height: 1.5;
  font-size: 18px;
  font-weight: 400;
  color: #002c8f;
}


.contact-ways{
  /* border: solid; */

}

.delivery-content {
  /* border: solid; */
  /* height: inherit; */
  padding-left: 5%;
  color: black;
  font-size: 1.5rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.delivery-content h3 {
  color: #112c91;
  font-size: 24px;
  font-weight: 900;
}


.delivery-content ul > li {
  margin: 1rem 0;
  color: #002c8f;
}

.delivery-content ul > li:nth-child(1) i {
  background-color: rgb(90 241 118);
  color: white;
}

.delivery-content ul > li:nth-child(2) i {
  background-color: rgb(90 241 118);
  color: white;
}

.delivery-content ul > li:nth-child(3) i {
  background-color: rgb(90 241 118);
  color: #fff;
}

.delivery-content ul > li:nth-child(4) i {
  background-color: #168de2;
  color: #ffa930;
}

.delivery-content ul > li:nth-child(5) i {
  background-color: #42a9fe;
  color: #fff;
}

.delivery-content ul > li:nth-child(6) i {
  background-color: #fd1d1d;
  color: #fff;
}

.delivery-content i {
  border: solid 1px black;
  border-radius: 50px;
  background-color: #fff;
  color: red;
  padding: 0.2rem 0.3rem;
}