body {
    border: solid 2px  red;
    margin: auto;
    padding: 0px;
    font-family:'Open Sans', sans-serif;
    /* width: 100%; */
}

a {
    text-decoration: none;
}

.top-heading-background {
    /* border: solid; */
    background-color: #f2f3f7;
    margin: 0;
    padding: 0.938rem 0;
}


.top-heading-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-color: #f2f3f7;
    align-items: center; 
}

.top-heading-container a, span {
    color: #2c2d3e;
    font-size: 0.875rem;
}

.top-heading-container i {
    margin-right: 5px;
    color: #2e4db9;
}


.banner {
    /* border: solid; */
    background-image: url(../img/filter-bg.jpg);
    background-position: center center;
    background-size: cover;
    position: relative;
    height: 410px;
    display: flex;
    flex-direction: column;
}

.top-direction-container {
    /* border: solid 2px black; */
     color: #2c2d3e;
     font-size: 1rem;
     font-weight: 700;
     line-height: 1.5;
     max-width: 1200px;
     margin: auto;
     padding:  0 ;
     display: flex;
     justify-content: space-between;
     align-items: center;     
 }
 
 
 
 .top-direction-container img {
     border-radius: 15% ;
     object-fit: fill;
 }
 
 .top-direction-pages a {
    /* border: solid; */
     margin: 0 1.2rem;
     font-family: 'Open Sans', sans-serif; 
     font-size: 1.25rem;
     font-weight: 700;
     color: #2c2d3e;
     text-decoration: none;
 }
 
 
 
 .container-contact-socialmedia {
     /* border: solid 2px;  */
     box-sizing: border-box;
     padding: 0 0.8%;
     display: flex;
     justify-content: center;
 }


 .container-contact-socialmedia a  {
     padding-right: 5%;
     margin-top: 0;
     font-size:1.125rem;
     color: #2c2d3e; 
     box-sizing: border-box;   
 }
 
 /* navmobile-container-begin */
.navmobile-container {
    padding: 5px  5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
}

.navmobile-container img {
    border-radius: 10px;
}



.navbar-mobile-socialmedia  {
    /* border: solid 2px;  */
    box-sizing: border-box;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-mobile-socialmedia a  {
    margin-left: 5px;
    color: #2c2d3e;
    margin-left: 1.5rem;
    font-size: ;
}


 .dropdown {
     /* border: solid #212529; */
     display: flex;
 }

  .dropdown i {
      margin-left: 1rem;
      color:#2c2d3e;
  }
  ul {
     margin: 0;
     padding: 0;
     list-style-type: none;
 }
 .dropdown>li a {
     /* border: 1px solid; */
     text-decoration: none;
     color: #1a06cf;
     font-size: 1.125rem;
     font-weight: 600;
 }

 .dropdown>li {
     position: relative;
     border: 1px;
     list-style-type: none;
 }

 .dropdown>li>ul {
     display: none;
     flex-direction: column;
     width: 130px;
     box-sizing: border-box;
     background-color: #fff;
 }

 .dropdown>li:hover ul {     
     display: block;
     box-sizing: border-box;  
     border-radius: 5px;
     position: absolute;
     top: 20px;
     right: -5px;
 }



@media (max-width:576px) {
    .navbar-desktop {
        display: none;
    }

    #navbar-mobile {
        display: block;
    }
    .top-heading-background {
        display: none;
    } 
    
}

@media (min-width:576px) {
    .navbar-desktop {
        display: block;
    }

    #navbar-mobile {
        display: none;
    }
}

     /* filter-container-begin */
 .filter-container {
     border: solid;
     max-width: 1200px;
     margin: auto;
 }

 .single-item-container {
     border: solid;
    display: flex;
     flex-wrap: wrap;
     justify-content: center;    
     margin: auto;
 }
 .single-item {
     border: solid #e8f4fc;
     max-width: 250px;    
     margin: 20px 10px;
     display: flex;
     flex-direction: column;
     justify-content: center;
 }

 .single-item-img {
     display: flex; 
 }

.single-item img {   
    max-width: 250px;
    height: 240px; 
    object-fit: cover;
    object-position: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}

.single-item-content {
    background-color: #e8f4fc;
    padding: 3%;
    margin: 0;
    color: #2e4db9;
    
}

.single-item-content h1 {
    object-position: center;
    font-size: 20px;
    margin:0 0 10px 0;
    font-weight: 700;
}

.cash {
    display: flex;
    justify-content: space-between;
    
}

.single-item-content p {
    margin: 5px;
}


   
.single-item-addcart {
    border: solid #f2f3f7;
   margin:  auto;
   padding: 5px 0;
   display: flex;
   border-radius: 10px;
}

.addcart {
    margin: auto;
    padding:  2% 0;
    
}

.single-item-addcart a {
    /* height: 35px;
    line-height: 35px;    */
    color: #2e4db9;
    font-size: 19px;
    border-radius: 5px;
    font-weight: 500;
}

@media (max-width:576px) {
    .filter-container {
       width: 98%; 
    }
    .single-item {
        width: 100%;
    }
    
}

@media (min-width:576px) {
    
}

  /* filter-container-end */