body {
    /* border: solid 2px  red; */
    margin: 0px;
    padding: 0px;
    position: relative;
    ]
    
}

.bigmaincontainer {
    /* border: solid 2px; */
    background-image: url(../img/background.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;  
    /* width: 1303px; */
    height: 645px;
    font-family: sans-serif;
    font-weight: bold;
    position: relative;
}







.top-direction-container {
    
   /* border: solid 2px black; */
    font-family:  sans-serif,   "Segoe UI", "Helvetica Neue", Helvetica, Arial ;
    color: rgb(250, 244, 244);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    /* width: 1303px; */
    padding: 20px 15px 20px 15px;
    margin: 2px 0 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.top-direction-container-pages {
    /* border: solid 2px; */
    padding: 19px 0 19px 0;
}

.top-direction-container img {
    height: 60px;
    border-radius: 15% ;
    object-fit: fill;
}

.top-direction-container-pages span {
   /* border: solid; */
    margin: 0 20px 0 20px;
    padding: 19px 0 19px 0;
    font-family: 'Open Sans', sans-serif; 
    font-size: 16px;
    font-weight: 700;
}

/*img:hover {
    width: 150px;
    height: auto;  
} */

.top-direction-container-contact {
    /* border: solid 2px; */
    display: flex;
    justify-content: space-around;
    position: relative;
    
}

 .top-direction-container-contact a  {
    
    margin-right: 90px;
    margin-top: 0;
    font-size:16px;
    font-family: 400;
    color: #fff;
    position: relative;
    
} 

.top-direction-container-contact-basket {
    /* border: solid 2px; */
    display: flex;
    justify-content: space-between;
    position: relative;
}

.top-direction-container-contact-basket i {
    margin-right: 30px;
    position: relative;    
}

.basket-decoration  {
    /* border: solid 2px; */
    border-radius: 50px;
    /* background-color: #2e4db9; */
    content: '0';
    margin-bottom: 0px;
    padding: 0 5px;
    position: absolute;
    top: -25px;
    left: 8px;
    
}

.top-direction-container-search { 
    
}



/* slide-contnt-begin */

#slide-content-maincontainer {
   
    /* width: 1170px; */
    height: 329px;
    margin: 75px 50px 0px 50px;
    padding: 0 15px 0 15px;
    color: white;
    box-sizing: border-box;
    display: flex;   
    justify-content: space-between;
    align-items: center;
}

.slide-content-maincontainer-2 {
    
    margin-top: 0;
    margin-bottom: 0;
    margin-right: -15px;
    margin-left: -15px;
    /* width: 1200px; */
    height: 329;
}

.slide-content-maincontainer-3 {
    
    margin: 0;
    padding: 0 15px 0 15px;
}


.slide-content {
    
   /* border: solid; */
    margin: 0;
    padding: 0;
    width: 570px;
    height: 329px;
    text-align: left;
    z-index: 9999;

}

.slide-content h1 {
   
    display: block;
    font-size: 48px;
    font-weight: 700;
    font-family: sans-serif;
    text-align: left;
    margin: 0;
    padding: 0 0 9px 0;
    width: 570px;
    height: 172px;
    color: #fff;
    line-height: 1.2;
} 

.slide-content p {
   
    line-height: 27px;
    padding-bottom: 25px;
    margin: 0;
    color: #fff;
}

.slide-content a {
    
    background-color: #fff;
    color: #2e4db9;
    width: 103px;
    height: 60px;
    padding: 10px 40px 10px 40px;
    box-sizing: border-box;
    border-radius: 50px;
    line-height: 60px;
    font-family: sans-serif;
    font-size: 19px;
}

.left-arrow  {
    
      
    padding: 0px;
    width: 40px;
    height: 40px;
    font-size: 26px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
    color: #212529;
    position:absolute; 
    top: 50%; 
    right:0px;
    
    
   
}

.right-arrow  {
    
     
    padding: 0px;
    width: 40px;
    height: 40px;
    font-size: 26px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
   position: absolute; 
    top: 50%;
  }

    /* PRODUCT PART BEGIN */

    .container {
        /* border: solid; */
        /* padding-right: 15px;
        padding-left: 15px;  */
         /* margin-right: auto;
        margin-left: auto; */
    }
    
.product-part-content-1 {
   /* border: solid 1px; */
    margin: 50px auto 0 auto;
    padding: 0 15px 0 15px;
    display: flex;
    justify-content: center;
}

.product-part-content-2 {
    /* border: solid 1px; */
    padding: 0 15px 0 15px;

}

.product-part-content-3 {
    /* border: solid 1px; */
    padding-bottom: 15px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    
}

.product-part-content-3 h2 {
    /* border: solid 1px; */
    line-height: 1.2;
    font-size: 48px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #2e4db9;
    display: block;    
}


.product-part-content-3 ul {
    font-size: 30px;
    transform: rotate(180deg);
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.product-part-content-3 ul>li {
    margin-left: 2px;
}

.product-part-content-3 ul>li:nth-child(1) {
    width: 10px;
    height: 2px;
    background-color: #2e4db9;
}

.product-part-content-3 ul>li:nth-child(2) {
    width: 20px;
    height: 3px;
    background-color: #2e4db9;
}

.product-part-content-3 ul>li:nth-child(3) {
    width: 30px;
    height: 4px;
    background-color: #2e4db9;
}


.product-part-content-3 ul>li:nth-child(4) {
    width: 20px;
    height: 3px;
    background-color: #2e4db9;
}

.product-part-content-3 ul>li:nth-child(5) {
    width: 10px;
    height: 2px;
    background-color: #2e4db9;
}

.product-part-goods-container {
    /* border: solid 1px; */
    box-sizing: border-box;
    width: 100%;
    /* margin-right: -20px;
    margin-left: -20px; */
    font-family: "Open Sans", sans-serif;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product-part-single-goods-1 {
   
    margin: 5px;
    padding: 0 15px 0 15px;
   max-width: 20%; 
    position: relative;
     width: 100%; 
    min-height: 1px;

}

.product-part-single-goods-2 {
    /* border: solid 2px #e8f4fc;  */
    margin: 30px 0 0 0;
    padding: 0px;
}

.product-part-single-goods-img {
   /* border: solid; */
    margin: 0;
    padding: 0px;
    position: relative;
}

.product-part-single-goods-img img {
  /*  border: solid; */
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
    margin: 0;
    padding: 0px;
    position: relative;
}

img {
   /* max-width: 100%;  */
    border-style: none;
}

.product-part-single-goods-img-decoration {
   /* border: solid; */
    margin: 0;
    padding: 0;
    position: absolute;
    top: 15px;
    right:10px;
    transform: rotate(35deg);
}

.product-part-single-goods-img-decoration a {
    font-size:12px;
    color: #fff;
    background-color: #2e4db9;
    padding: 5px 10px;
    border-radius:50%;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    display: inline-block;
    cursor: pointer;

}

.product-part-single-goods-content {
   /* border: solid 2px #e8f4fc; */
    margin: 0;
    padding: 15px;
    border-top: 0;
}

.product-part-single-goods-content-h6 {
  /*  border: solid; */
    margin: 0;
    padding: 0px;
    font-size:16px;
    line-height: 1.2;
    font-weight: 700;   
}

a {
    color: #1a06cf;
    font-size:16px;
    line-height: 1.2;
    font-weight: 700;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}


.product-part-single-goods-content-pricereyting {
  /*  border: solid; */
    margin: 10px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

.product-part-single-goods-content-price{
  /*  border: solid; */
    margin: 0;
    padding: 0px;
}

.regular-price {
    font-size:18px;
    color: #2e4db9;
    font-weight: 700;
    margin-right: 10px;
    font-family: sans-serif;
}

.discount-pirece {
    font-size:16px;
    color: #5a6a9f;
    position:relative;
    font-weight: 500;
    font-family: sans-serif;
}

.discount-pirece::before {
    position: absolute;
    content:'';
    background-color: #2e4db9;
    width: 100%;
    height: 1px;
    top: 50%;
    left:0;

}

.product-part-single-goods-content-reyting {
   /* border: solid; */
    margin: 0;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    
}

.product-part-single-goods-content-reyting ul {
    
    margin: 0;
    padding: 0px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.product-part-single-goods-content-reyting ul>li {
    display: inline-block;
    font-size:15px;
   
    color: #d5a500;

}

.product-part-single-goods-content-p {
   /* border: solid; */
    margin: 15px 0 0 0 ;
    padding: 0px;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height:27px;
    color: #2c2d3e;
    margin: 0px;
    display: block;
}

.product-part-single-goods-content-addcart {
   /* border: solid; */
    margin: 15px 0 0 0;
    padding: 0px;
}

.addcart {
    
    height: 35px;
    line-height: 35px;
    background-color: #2e4db9;
    color: #fff;
    font-size: 15px;
    margin-right: 8px;
    margin-top: 10px;
    border-radius: 50px;
    font-weight: 400;
    
}

.product-part-single-goods-content-addcart a {
    display: inline-block;
    margin: 0;     
    padding-right: 10px;
    padding-left: 10px;
}

.addcart i {
    margin-right: 5px;
    cursor: pointer;
}

.fa {
    padding: 0;
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
}
   /* product-part-end */

      /* Water-info-begin */

#water-info   { 
    /* border: solid 1px; */
    padding-top: 70px;
}    
.water-info-heading-justify-content {
    /* border: solid 1px; */
    width: 100%;
    color: #2e4db9;
    /* margin-right: -15px;
    margin-left: -15px; */
    display: flex;
    justify-content: center;
    
}

.water-info-heading-padding15 {
    /* border: solid 1px; */
    padding-left: 15px;
    padding-right: 15px;
    /* width: 100%;    */
}

.water-info-heading-title-text {
    /* border: solid 1px; */
    text-align: center;
}

.water-info-heading-title-text h2 {
    /* border: solid 1px; */
    text-transform: uppercase;
    margin-bottom: -8px;
    font-family: 'Poppins', sans-serif;
    /* font-weight: 700; */
    /* line-height: 1.2; */
    display: block;
    color: #2e4db9;
    font-family: sans-serif;
    
}

h2  {
    margin: 0;
    font-size: 44px;
    margin: 0;
    text-align: center;
}

.water-info-heading-title-text ul {
    font-size: 30px;
    transform: rotate(180deg);
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: center;
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 5px;
    
}

.water-info-heading-title-text ul>li {
    margin-left: 3px;
    
}

.water-info-heading-title-text ul>li:nth-child(1) {
    width: 10px;
    height: 2px;
    background-color: #2e4db9;   
}

.water-info-heading-title-text ul>li:nth-child(2) {
    width: 20px;
    height: 3px;
    background-color: #2e4db9;
}
.water-info-heading-title-text ul>li:nth-child(3){
    width: 30px;
    height: 4px;
    background-color: #2e4db9;
}
.water-info-heading-title-text ul>li:nth-child(4) {
    width: 20px;
    height: 3px;
    background-color: #2e4db9;
}
.water-info-heading-title-text ul>li:nth-child(5) {
    width: 10px;
    height: 2px;
    background-color: #2e4db9;
}


.water-info-heading-title-text p {
    padding-top: 17px;
    padding-left: 15px;
    padding-right: 15px;
}

p {
font-size: 16px;
font-weight: 400;
line-height: 27px;
color: #2c2d3e;
display: block;
}


.water-info-content-container{
    /* border: solid 1px; */
    align-items: center;
    display: flex;
    width: 100%;
    /* margin-right: -15px;
    margin-left: -15px; */
}
.water-info-contain {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.water-info-contain-mt54-pb50 {
    position: relative;
    padding-bottom: 50px;
    margin-top: 45px;
}
.water-info-contain-icon {
    position:absolute;
    top:5px;
    left:10px;    
}

.water-info-contain-icon img {
    width: 40px;
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
    
}
.water-info-contain-pt25-pl70 {
    padding-left: 70px;
    padding-top: 25px;    
}

.water-info-contain-pt25-pl70 h4, .water-info-contain-pt25-pl70-textright h4 {
    padding-bottom: 7px;
    font-size: 20px;
    font-weight: 700;
    color: #2e4db9;
    margin: 0px;
    line-height: 1.2;
}

 p{
    padding-bottom: 40px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #2c2d3e;
    margin: 0;
    display: block;
}
.water-info-contain-pt25-pl70 a, .water-info-contain-pt25-pl70-textright a{
    padding: 0 30px;
    line-height: 40px;
    border-radius: 50px;
    color: #fff;
    background-color: #2c2d3e;
    position: relative;
    display: inline-block;
    text-decoration: none;
}


.water-info-contain-m0-p0 {
    position: relative;
}

.water-info-contain-pt25-pl70-textright{
    padding-right: 70px;
    padding-top: 25px;    
    text-align: right;
}

    


.water-info-contain-mt50-textcenter {
    position: relative;
    margin-top: 50px;
    text-align: center;
    box-sizing: border-box;
}

.water-info-contain-mt50-textcenter img {
    max-width: 100%;
    vertical-align: middle;
    box-sizing: border-box;
}

.icon-right {
    position:absolute;
    top:5px;
    right: 10px;
}

.icon-right img{
    width: 40px;
}

.text-right {
    text-align: right!important;
}



