.bigmaincontainer {
    width: 1333px;
    height: 640px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/background.jpg);
  background-size: cover;
  font-family: sans-serif;
  font-weight: bold;
}

.top-direction-container {
    border: solid 2px black;
    font-family:  sans-serif,   "Segoe UI", "Helvetica Neue", Helvetica, Arial ;
    color: rgb(250, 244, 244);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    width: 1300px;
    padding: 20px 15px 20px 15px;
    margin: 20px 0 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-direction-container-pages {
    
    padding: 19px 0 19px 0;
}

.top-direction-container img {

    width: 110px;
    height: 60px;
    border-radius: 15% ;
    object-fit: fill;
}

.top-direction-container-pages span {
   /* border: solid; */
    margin: 0 20px 0 20px;
    padding: 19px 0 19px 0;
    font-family: 'Open Sans', sans-serif; 
    font-size: 16px;
    font-weight: 700;
}

img:hover {
    width: 150px;
    height: auto;
    
}

.top-direction-container-contact {
    display: flex;
    justify-content: space-around;
    color: ;
    
}

 i  {
    margin-right: 98px;
    margin-top: 10px;
    font-size:16px;
    font-family: 400;
} 

.top-direction-container-contact-basket {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.top-direction-container-contact-basket i {
    margin-right: 30px;
}

.search { 
    margin-right: 0;
    padding-buttom: 19px;
}

.top-direction-container-basket-decoration  {
    content: '0';
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -15px;
    left: 7px;
    right: -5px;
    
}

#slide-content-maincontainer {
    border: solid;
    width: 1200px;
    height: 328px;
    margin: 130px 50px 0 50px;
    color: white;

    box-sizing: border-box;
    display: flex;   
    justify-content: space-between;
    align-items: center;
}

.slide-content {
    border: solid;
    width: 570px;
    height: 328px;
    z-index: 9999;
}



