.w825-h72, .feedback-content-container .suggestion-header {
  width: 825px;
  height: 72px;
  border-radius: 10px;
  margin-bottom: 24px;
  padding: 29.9px 23px;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h2,
p, h5, h3 {
  margin: 0;
  padding: 0;
  display: inline;
}

ul,
li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.Font-bold-latter {
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 9.55px;
  font-style: normal;
  font-weight: bold;
  color: #3a4374;
  background: black;
}

.font-thin-letter {
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 9.55px;
  font-style: normal;
  color: #3a4374;
}

.font-s13-w6, .feedback-content-container .feedback-content li {
  font-size: 13px;
  font-weight: 600;
}

.font-s13-w7, .feedback-content-container .feedback-content .count {
  font-size: 13px;
  font-weight: 700;
}

.font-s14-w4, .feedback-content-container .suggestion-header .most-upvotes {
  font-size: 14px;
  font-weight: 400;
  color: #f2f4fe;
}

.font-s14-w7, .feedback-content-container .suggestion-header .add-feedback {
  font-size: 14px;
  color: #f2f4fe;
  font-weight: 700;
}

.font-s16-w4, .feedback-content-container .feedback-content .content-text p {
  font-size: 16px;
  font-weight: 400;
}

.font-s16-w7, .feedback-content-container .feedback-content .comment-count span {
  font-size: 16px;
  font-weight: 700;
}

.font-s18-w7, .feedback-content-container .feedback-content .content-text h2 {
  font-size: 18px;
  font-weight: 700;
}

.btn, .btn-1, .feedback-content-container .suggestion-header .add-feedback, .btn-1-hover, .btn-2, .btn-2-hover, .btn-3, .btn-3-hover, .btn-4, .btn-4-hover, .goback, .goback-hover, .goback-dark, .goback-dark-hover {
  border-radius: 10px;
  width: 158px;
  height: 44px;
  text-align: center;
  vertical-align: middle;
  position: relative;
  font-family: "Jost", sans-serif;
}

.btn-before::before, .goback, .goback-hover, .goback-dark, .goback-dark-hover {
  position: absolute;
  top: 50%;
  content: "";
  margin-right: 1rem;
}

.btn-1, .feedback-content-container .suggestion-header .add-feedback {
  background: #ad1fea;
}

.btn-1-hover {
  background: #c75af6;
}

.btn-2 {
  background: #4661e6;
}

.btn-2-hover {
  background: #7c91f9;
}

.btn-3 {
  background: #3a4374;
}

.btn-3-hover {
  background: #656ea3;
}

.btn-4 {
  background: #d73737;
}

.btn-4-hover {
  background: #e98888;
}

.goback {
  background: #d73737;
  color: #647196;
}

.goback-hover {
  color: #647196;
}

.goback-dark {
  background: #373f68;
  color: white;
}

.goback-dark-hover {
  background: #373f68;
  color: white;
}

body {
  font-family: "Jost", sans-serif;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-between, .shortcut .roadmap-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-center, .shortcut .roadmap-container ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.f-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.f-dct-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.f-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.f-dct-column-center, .feedback-content-container .feedback-content .count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.f-column-flexend, .shortcut .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.max-width-1310 {
  width: 1310px;
}

.text-field, .text-field-default, .text-field-filled, .text-field-active, .text-field-error, .dropdown-default, .dropdown-active {
  border: 1px solid #f7f8fd;
  width: 255px;
  height: 48px;
  margin: 8px;
  padding: 13px 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  color: black;
  background: #f7f8fd;
  display: inline-block;
}

.text-field-active {
  border: 1px solid #4661e6;
}

.error-container {
  display: inline-block;
  color: #d73737;
  position: relative;
}

.text-field-error {
  border: 1px solid #d73737;
  position: relative;
  overflow: visible;
  margin: 0 0 2px 0;
}

.dropdown-active {
  border: 1px solid #4661e6;
}

.dropdown-menu {
  width: 255px;
  height: 192px;
  background-color: #ffffff;
  color: #647196;
  position: relative;
  border-radius: 10px;
}

.dropdown-menu span {
  border-bottom: 1px solid #3a4374;
  width: 100%;
  display: block;
  padding: 14px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.dropdown-menu span:last-child {
  border-bottom: none;
}

.dropdown-menu::before {
  position: absolute;
  top: 0px;
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #3a4374;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.interactive-nmb, .int-nmb-default, .feedback-content-container .feedback-content .count, .int-nmb-hover, .int-nmb-active {
  border-radius: 10px;
  width: 40px;
  height: 53px;
  padding: 0 11px;
  color: #3a4374;
  font-family: 700;
  font-size: 13px;
  line-height: 18.79px;
  letter-spacing: -0.18px;
  text-align: center;
  vertical-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.int-nmb-default, .feedback-content-container .feedback-content .count {
  background-color: #f2f4fe;
}

.int-nmb-hover {
  background: #cfd7ff;
}

.int-nmb-active {
  color: #ffffff;
  background: #4661e6;
}

.int-letter, .int-letter-default, .shortcut .choosen .default, .feedback-content-container .feedback-content li, .int-letter-hover, .shortcut .choosen .hover, .int-letter-active, .shortcut .choosen .active {
  border-radius: 10px;
  padding: 5px 16px;
  color: #3a4374;
  font-family: 700;
  font-size: 13px;
  line-height: 18.79px;
  letter-spacing: -0.18px;
  text-align: center;
  vertical-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.int-letter-default, .shortcut .choosen .default, .feedback-content-container .feedback-content li {
  background-color: #f2f4fe;
}

.int-letter-hover, .shortcut .choosen .hover {
  background: #cfd7ff;
}

.int-letter-active, .shortcut .choosen .active {
  color: #ffffff;
  background: #4661e6;
}

.int-upvote {
  border-radius: 10px;
  width: 194px;
  height: 72px;
  padding: 5px 16px;
  color: #f2f4fe;
  font-family: 400;
  font-size: 14px;
  line-height: 20.23px;
  letter-spacing: -0.18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background: #373f68;
}

.int-upvote::before {
  position: absolute;
  top: 50%;
  content: "Sort by: Most Upvotes";
}

.dropdown {
  width: 255px;
  height: 192px;
  background-color: #ffffff;
  color: #647196;
  position: relative;
  border-radius: 10px;
}

.dropdown span {
  border-bottom: 1px solid #3a4374;
  width: 100%;
  display: block;
  padding: 14px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.dropdown span:last-child {
  border-bottom: none;
}

.dropdown::before {
  position: absolute;
  top: 0px;
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #3a4374;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mentor-profile-container, .shortcut .profile {
  width: 255px;
  height: 137px;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 24px;
  padding: 24px;
  background: radial-gradient(128.88% 128.88% at 103.9% -10.39%, #e84d70 0%, #a337f6 53.09%, #28a7ed 100%);
}

.all-ui-container, .shortcut .choosen {
  width: 255px;
  height: 137px;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 24px;
  padding: 0 24px;
  background: white;
}

.roadmap-container {
  width: 255px;
  height: 178px;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 24px;
  padding: 16px 24px;
  background: white;
}

.suggestion-container {
  width: 825px;
  height: 72px;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 24px;
  padding: 14px 16px 14px 29.9px;
  background: #373f68;
}

.content-container {
  width: 825px;
  height: 151px;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 24px;
  padding: 32px 28px;
  background: white;
}

.item .purple-color {
  width: 9px;
  height: 109px;
}

#desktop-suggestion {
  background-color: #f2f4ff;
  padding: 94px 165px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.desktop-suggestion-container {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.shortcut {
  margin-right: 15px;
}

.shortcut .choosen {
  padding-top: 10px;
}

.shortcut .choosen li {
  margin-right: 8px;
  margin-bottom: 14px;
}

.shortcut .roadmap-container .justify-between, .shortcut .roadmap-container ul {
  margin-bottom: 31px;
  color: #3a4374;
}

.shortcut .roadmap-container .justify-between h2, .shortcut .roadmap-container ul h2 {
  font-size: 18px;
  font-weight: bold;
}

.shortcut .roadmap-container .justify-between a, .shortcut .roadmap-container ul a {
  font-size: 13px;
}

.shortcut .roadmap-container ul {
  margin-bottom: 8px;
  color: #647196;
  font-size: 16px;
}

.shortcut .roadmap-container ul i {
  font-size: 8px;
  margin-right: 16px;
  color: #f49f85;
}

.shortcut .roadmap-container ul span {
  font-weight: bold;
}

.shortcut .roadmap-container ul .in-progress {
  color: #ad1fea;
}

.shortcut .roadmap-container ul .live {
  color: #62bcfa;
}

.feedback-content-container {
  margin-left: 15px;
}

.feedback-content-container .suggestion-header {
  background-color: #373f68;
}

.feedback-content-container .suggestion-header .suggestion-count {
  margin-right: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback-content-container .suggestion-header .suggestion-count i {
  font-size: 16px;
  margin: 10.1px;
}

.feedback-content-container .suggestion-header .suggestion-count span,
.feedback-content-container .suggestion-header .suggestion-count p {
  font-size: 18px;
  font-weight: bold;
  margin-right: 7px;
}

.feedback-content-container .suggestion-header .most-upvotes p {
  margin-right: 9px;
  font-weight: 700;
}

.feedback-content-container .suggestion-header .most-upvotes i {
  font-size: 10px;
}

.feedback-content-container .suggestion-header .add-feedback {
  height: 48px;
}

.feedback-content-container .feedback-content {
  width: 825px;
  background-color: white;
  margin-bottom: 20px;
  padding: 28px 32px;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.feedback-content-container .feedback-content .count {
  margin-right: 40px;
}

.feedback-content-container .feedback-content .content-text h2 {
  color: #3a4374;
  margin-bottom: 4px;
}

.feedback-content-container .feedback-content .content-text p {
  color: #647196;
}

.feedback-content-container .feedback-content li {
  width: 111px;
  color: #4661e6;
  margin-top: 12px;
  margin-left: 80px;
}

.feedback-content-container .feedback-content .comment-count i {
  color: #cdd2ee;
}

.feedback-content-container .feedback-content .comment-count span {
  color: #3a4374;
}
