$main-width: 1300px;
$main-height: 765px;
$demo01-color: orange;
$demo02-top-lent-color: #5656a6;
$demo02-bg: #5b5bae;
$demo03-main-color: #24cf5f;
$demo04-main-color:#e12573;
$demo05-main-color:#1997d3;
$demo05-secondary-color:#b7e8ff;
$demo06-main-color: #19d3ca;
$demo07-main-color: #2e4b9b;
$demo07-secondary-color:#8aa9ff;
$demo14-main-color: #ff408f;
$sapce-1x: 1px;
$space-2x: 2px;

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.4;
}

* {
    box-sizing: border-box;
    margin: 0 auto;
}

h1,
h2 {
    font-weight: 700;
    margin: 0;
}

a {
    text-decoration: none;
}

.a-color-br-pd {
    a {
        color: #fff;
        border-radius: 40px !important;
        padding: 12px 35px;
    }
}

.bring-to-center {
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.item-container i,
h2,
p,
a {
    display: inline-block;
}

.mg-40-pd-10 {
    margin: 40px auto;
    padding: 10px;
}

.padding-80-0 {
    padding: 80px 0;
}


.flex {
    display: flex;
}

.justify-start {
    justify-content: flex-start;
}

.justify-center {
    display: flex;
    justify-content: center;
    
}

.align-center {
    align-items: center;
}

.d-inline-block {
    display: inline-block;
}

.w-360-h-410 {
    width: 360px;
    height: 410px;
}

.border-color-white {

    p,
    i {
        color: #fff;
        border-color: #fff;
    }

    h2 {
        color: #fff;
    }
}

.p-absolute-z-index-content {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    content: '';
}

.transition-all-4-ease {
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.translateX-opacity-1 {
    opacity: 1;
    transform: translateX(0%);
}