@import 'common';

.top-lent-01 {
    background-color: $demo01-color;
}


.top-lent {
    color: #fff;
    padding: $sapce-1x*1 $sapce-1x*15;
    text-align: center;

    h2 {
        font-size: $space-2x*9;
    }
}

.content-container {
    // border: 2px solid black;
    text-align: center;
    padding: 0 15px 0 15px;
    margin: 0 auto;
}

.title-text {
    // border: 2px solid red;
    text-align: center;
    display: block;

    h2 {
        color: black;
        margin-top: $space-2x*10;
        margin-bottom: $space-2x*5;
        font-size: $space-2x*15;
        display: block;
    }

    p {
        color: #333333;
        margin-top: 0;
        margin-bottom: $space-2x*30;
    }
}

.row {
    max-width: 1170px;
    // border: 1px solid;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;

}

.item-container {
    // border: 3px solid $demo01-color;
    margin: 40px auto;
    padding: 10px;
    transition: all .4s ease;
    // box-shadow: 1px 2px 10px #33333349;

    i {
        border-radius: 100%;
        margin: 20px;
        width: 130px;
        height: 130px;
        font-size: 52px;
        line-height: 120px;
    }

    h2 {
        margin-top: 0;
        margin-bottom: 15px;
        padding: 13px;
        font-size: 30px;
        color: #333333;
    }

    p {
        // border: 1px solid;
        padding: 0 17px 17px 0;
        margin: 0 0 17px;
        margin: 0 0 10px;
        display: block;
    }

    a {
        border: 1px solid transparent;
        margin: 10px 0 20px;
        padding: 14px 35px;
        font-weight: 400;
        border-radius: 0;
    }
}

.item-container-01 {
    position: relative;
    overflow: hidden;
    max-width: 360px;
    height: 410px;

    i {
        border: 3px solid $demo01-color;
        color: $demo01-color;
    }

    p {
        color: #919191;
    }

    a {
        color: #fff;
        background: $demo01-color;
    }

}

.item-container-01::after {
    // border: 1px solid;
    background-color: $demo01-color;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    content: '';
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transform: translateY(100%);
}

.item-container-01:hover i {
    color: white;
    border-color: #fff;
}

.item-container-01:hover h2 {
    color: white;
    border-color: #fff;
}

.item-container-01:hover p {
    color: white;
    border-color: #fff;
}

.item-container-01:hover a {
    color: $demo01-color;
    background-color: #fff;
}

.item-container-01:hover::after {
    opacity: 1;
    width: 360px;
    height: 410px;
    transform: translateY(50%);
}

.item-container-01:hover:after {
    transform: translateY(0);
}


.top-lent-02 {
    background: $demo02-top-lent-color;
}

.demo02-bg {
    background-color: $demo02-bg;

    h2,
    p {
        color: #fff;
    }
}

.item-container-02 {
    max-width: 292px;
    height: 511px;
    position: relative;
    overflow: hidden;

    i {
        border: #fff solid;
        color: #fff;
    }

    h2,
    p {
        color: #fff;
    }

    a {
        color: #333;
        background: #fff;
    }

}

// .item-container-02::after {
//     border: 1px solid;
//     background-color: black;
//     width: 262px;
//     height: 431px;
//     position: absolute;
//     // z-index: -1;
//     top: 0;
//     bottom: 0;
//     right: 0;
//     left: 0;
//     content: '';
//     opacity: 0;
//     transition-property: all;
//     transition-duration: 0.4s;
//     transition-timing-function: ease;
//     transition-delay: 0s;
//     transform: translateY(100%);
// }

// .item-container-02:hover::after {
//     opacity: 1;
//     width: 100%;
//     height: 100%;
//     transform: translateY(50%);
// }

// .item-container-02:hover:after {
//     transform: translateY(0);
// }

.onlyhover {
    // border: 3px solid;
    margin: 40px 0;
    padding: 10px;
    width: 262px;
    height: 431px;

}

.item-container-02:hover .onlyhover {
    transform: scale(.9, .9);
    background: #5656a6;
}

.top-lent-03 {
    background: $demo03-main-color;
}


.item-container-03 {
    position: relative;
    overflow: hidden;
    max-width: 360px;
    height: 410px;

    h2 {
        margin-bottom: 0;
    }

    i {
        color: $demo03-main-color;
        margin: 0;
    }

    p {
        color: #919191;
    }

    a {
        color: #fff;
        background: $demo03-main-color;
        border-radius: 50px;
        padding: 12px 35px;
    }
}

.item-container-03::before {
    // border: 2px solid $demo03-main-color;
    border-bottom: 2px solid #24cf5f;
    border-left: 2px solid #24cf5f;
    border-top: 2px solid #24cf5f;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    z-index: -1;
    left: 0;
    bottom: 0;
    transform: translateX(-100%);
    content: '';
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

// .item-container-03::after {
//     top: 0;
//     transform: translateX(-100%);
//     border-top: 2px solid #24cf5f;
//     border-right: 2 px solid #24cf5f;
//     position: absolute;
//     box-sizing: border-box;
//     width: 99.9%;
//     height: 2px;
//     z-index: -1;
//     left: 0;
//     content: '';
// }

.item-container-03:hover::before {
    opacity: 1;
    transform: translateX(0%);
}
.item-container-03:hover {
    border-right: 2px solid #24cf5f;
    // width: 99.5%;
}


.top-lent-04 {
    background: $demo04-main-color;
}


.item-container-04 {
    position: relative;
    overflow: hidden;
    max-width: 360px;
    height: 240px;
    box-shadow: 0;

    h2 {
        margin-bottom: 0;
        padding: 13px 0;
        font-size: 29px;
    }

    i {
        color: $demo04-main-color;
        margin-right: 40px;
        display: inline-block;
        line-height: 120px;
        font-size: 52px;
        width: 70px;        
    }

    p {
        color: #919191;
        padding: 0 17px 0 0;
        margin: 0 0 10px;
    }

    a {
        color: #fff;
        background: $demo04-main-color;
        box-sizing: border-box;
        border-radius: 40px;
        padding: 12px 35px;
        margin: 10px 0 20px;
    }

}

.item-container-04::before {
    // border: 2px solid $demo03-main-color;
    background-color: $demo04-main-color;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    z-index: -1;
    left: 0;
    bottom: 0;
    transform: translateX(100%);
    content: '';
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.item-container-04:hover::before {
    opacity: 1;
    transform: translateX(0%);
    
}
.item-container-04:hover {
    // width: 99.5%;
    i, h2, p  {
        color: #fff;
    }
    a {
        background-color: lighten($color: #e12573, $amount: 7);
    }
}