// Layihədə istifadə olunacaq bütün dəyişənlər burda qeyd olunacaq

$space-2x: 0.125rem;
$space-4x: 0.25rem;
$space-5x: 0.313rem;
$space-6x: 0.375rem;
$space-8x: 0.5rem;
$space-9-5x: 0.594rem;
$space-9-55x: 0.597rem;
$space-x: 0.625rem;
$space-11x: 0.688rem;
$space-12x: 0.75rem;
$space-13x: 0.813;
$space-14x: 0.875rem;
$space-15x: 0.938rem;
$space-16x: 1rem;
$space-18x: 1.125rem;
$space-18-79x: 1.174rem;
$space-20x: 1.25rem;
$space-20-23x: 1.264rem;
$space-24x: 1.5rem;
$space-23x: 1.438rem;
$space-27x: 1.688rem;
$space-28x: 1.75rem;
$space-29-9x: 1.869rem;
$space-31x: 1.938rem;
$space-32x: 2rem;
$space-40x: 2.5rem;
$space-48x: 3rem;
$space-53x: 3.313rem;
$space-69x: 4.313rem;
$space-77x: 4.813rem;
