h2,
p, h5, h3 {
  margin: 0;
  padding: 0;
  display: inline;
}

ul,
li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
}

.w825-h72 {
  width: 825px;
  height: 72px;
  border-radius: 0.625rem;
  margin-bottom: 1.5rem;
  padding: 1.869rem 1.438rem;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.w77-h7 {
  width: 77.08%;
  height: 7.84%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}

.Font-bold-latter {
  font-size: 1.25rem;
  line-height: 2.5rem;
  letter-spacing: 0.597rem;
  font-style: normal;
  font-weight: bold;
  color: #3a4374;
  background: black;
}

.font-thin-letter {
  font-size: 1.25rem;
  line-height: 2.5rem;
  letter-spacing: 0.597rem;
  font-style: normal;
  color: #3a4374;
}

.font-s13-w4, .navbar-mobile ul li {
  font-size: 0.813;
  font-weight: 400;
}

.font-s13-w6 {
  font-size: 0.813;
  font-weight: 600;
}

.font-s13-w7, .roadmap-content-container .roadmap-content .content-item .item-count span {
  font-size: 0.813;
  font-weight: 700;
}

.font-s14-w4 {
  font-size: 0.875rem;
  font-weight: 400;
  color: #f2f4fe;
}

.font-s14-w7, .raodmap-header .roadmap-goback a, .raodmap-header button {
  font-size: 14px;
  color: #f2f4fe;
  font-weight: 700;
}

.font-s16-w4, .roadmap-content-container .content-header span, .roadmap-content-container .roadmap-content .content-item span, .roadmap-content-container .roadmap-content .content-item p {
  font-size: 1rem;
  font-weight: 400;
}

.font-s16-w7, .roadmap-content-container .roadmap-content .content-item .item-count li {
  font-size: 1rem;
  font-weight: 700;
}

.font-s18-w7, .roadmap-content-container h5 {
  font-size: 1.125rem;
  font-weight: 700;
}

.font-s24-w7, .raodmap-header .roadmap-goback span {
  font-size: 1.5rem;
  font-weight: 700;
}

.btn, .btn-1, .raodmap-header button, .btn-1-hover, .btn-2, .btn-2-hover, .btn-3, .btn-3-hover, .btn-4, .btn-4-hover, .goback, .goback-hover, .goback-dark, .goback-dark-hover {
  border-radius: 0.625rem;
  width: 14.234875%;
  height: 3.96%;
  text-align: center;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  font-family: "Jost", sans-serif;
}

.btn-before::before, .goback, .goback-hover, .goback-dark, .goback-dark-hover {
  position: absolute;
  top: 50%;
  content: "";
  margin-right: 1rem;
}

.btn-1, .raodmap-header button {
  background: #ad1fea;
}

.btn-1-hover {
  background: #c75af6;
}

.btn-2 {
  background: #4661e6;
}

.btn-2-hover {
  background: #7c91f9;
}

.btn-3 {
  background: #3a4374;
}

.btn-3-hover {
  background: #656ea3;
}

.btn-4 {
  background: #d73737;
}

.btn-4-hover {
  background: #e98888;
}

.goback-hover {
  color: #647196;
}

.goback-dark {
  background: #373f68;
  color: white;
}

.goback-dark-hover {
  background: #373f68;
  color: white;
}

html {
  font-size: 16px;
}

body {
  font-family: "Jost", sans-serif;
}

.d-block {
  display: block;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-center, .raodmap-header button, .navbar-mobile ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-between, .roadmap-content-container, .roadmap-content-container .roadmap-content .content-item .item-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-center, .roadmap-content-container .roadmap-content .content-item span, .roadmap-content-container .roadmap-content .content-item .item-count, .roadmap-content-container .roadmap-content .content-item .item-count span, .roadmap-content-container .roadmap-content .content-item .item-count li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.f-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.f-col-j-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.f-col, .raodmap-header .roadmap-goback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.f-col-j-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.f-col-j-flexend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.max-width-1310 {
  width: 1310px;
}

.text-field, .text-field-default, .text-field-filled, .text-field-active, .text-field-error, .dropdown-default, .dropdown-active {
  border: 1px solid #f7f8fd;
  width: 255px;
  height: 3rem;
  margin: 0.5rem;
  padding: 0.813 1.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0.313rem;
  color: black;
  background: #f7f8fd;
  display: inline-block;
}

.text-field-active {
  border: 1px solid #4661e6;
}

.error-container {
  display: inline-block;
  color: #d73737;
  position: relative;
}

.text-field-error {
  border: 1px solid #d73737;
  position: relative;
  overflow: visible;
  margin: 0 0 0.125rem 0;
}

.dropdown-active {
  border: 1px solid #4661e6;
}

.dropdown-menu {
  width: 255px;
  height: 192px;
  background-color: #ffffff;
  color: #647196;
  position: relative;
  border-radius: 0.625rem;
}

.dropdown-menu span {
  border-bottom: 1px solid #3a4374;
  width: 100%;
  display: block;
  padding: 0.875rem 0.625rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.dropdown-menu span:last-child {
  border-bottom: none;
}

.dropdown-menu::before {
  position: absolute;
  top: 0px;
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #3a4374;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.interactive-nmb, .int-nmb-default, .int-nmb-hover, .roadmap-content-container .roadmap-content .content-item .item-count span, .int-nmb-active {
  border-radius: 0.625rem;
  width: 2.5rem;
  height: 3.313rem;
  padding: 0 0.688rem;
  color: #3a4374;
  font-family: 700;
  font-size: 0.813;
  line-height: 1.174rem;
  letter-spacing: -0.18px;
  text-align: center;
  vertical-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.int-nmb-default {
  background-color: #f2f4fe;
}

.int-nmb-hover, .roadmap-content-container .roadmap-content .content-item .item-count span {
  background: #cfd7ff;
}

.int-nmb-active {
  color: #ffffff;
  background: #4661e6;
}

.int-letter, .int-letter-default, .int-letter-hover, .roadmap-content-container .roadmap-content .content-item ol, .int-letter-active {
  border-radius: 0.625rem;
  padding: 0.313rem 1rem;
  color: #3a4374;
  font-family: 700;
  font-size: 0.813;
  line-height: 1.174rem;
  letter-spacing: -0.18px;
  text-align: center;
  vertical-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.int-letter-default {
  background-color: #f2f4fe;
}

.int-letter-hover, .roadmap-content-container .roadmap-content .content-item ol {
  background: #cfd7ff;
}

.int-letter-active {
  color: #ffffff;
  background: #4661e6;
}

.int-upvote {
  border-radius: 0.625rem;
  width: 194px;
  height: 72px;
  padding: 0.313rem 1rem;
  color: #f2f4fe;
  font-family: 400;
  font-size: 0.875rem;
  line-height: 1.264rem;
  letter-spacing: -0.18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background: #373f68;
}

.int-upvote::before {
  position: absolute;
  top: 50%;
  content: "Sort by: Most Upvotes";
}

.dropdown {
  width: 255px;
  height: 192px;
  background-color: #ffffff;
  color: #647196;
  position: relative;
  border-radius: 0.625rem;
}

.dropdown span {
  border-bottom: 1px solid #3a4374;
  width: 100%;
  display: block;
  padding: 0.875rem 0.625rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.dropdown span:last-child {
  border-bottom: none;
}

.dropdown::before {
  position: absolute;
  top: 0px;
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #3a4374;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mentor-profile-container {
  width: 255px;
  height: 137px;
  border-radius: 0.625rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 1.5rem;
  padding: 1.5rem;
  background: radial-gradient(128.88% 128.88% at 103.9% -10.39%, #e84d70 0%, #a337f6 53.09%, #28a7ed 100%);
}

.all-ui-container {
  width: 255px;
  height: 137px;
  border-radius: 0.625rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 1.5rem;
  padding: 0 1.5rem;
  background: white;
}

.roadmap-container {
  width: 255px;
  height: 178px;
  border-radius: 0.625rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 1.5rem;
  padding: 1rem 1.5rem;
  background: white;
}

.suggestion-container {
  width: 825px;
  height: 72px;
  border-radius: 0.625rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 1.5rem;
  padding: 0.875rem 1rem 0.875rem 29.9px;
  background: #373f68;
}

.content-container {
  width: 825px;
  height: 151px;
  border-radius: 0.625rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 1.5rem;
  padding: 2rem 1.75rem;
  background: white;
}

.item-decoration, .planned .item-decoration, .in-progress .item-decoration, .live .item-decoration {
  width: 100%;
  border-radius: 0.625rem;
  position: absolute;
  top: 0;
  left: 0;
  height: 6px;
}

.raodmap-header {
  width: 77.08%;
  height: 7.84%;
  padding: 1.688rem 2.5rem 1.688rem 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0.625rem;
  background-color: #373f68;
  margin: 0 auto;
}

.raodmap-header .roadmap-goback {
  color: white;
}

.raodmap-header .roadmap-goback a {
  cursor: pointer;
}

.raodmap-header .roadmap-goback a i {
  margin-right: 0.938rem;
  font-size: 0.75rem;
}

.raodmap-header button {
  border-color: transparent;
  width: 9rem;
  height: 44px;
  padding: 0;
}

.navbar-mobile {
  width: 98%;
  padding-top: 1.25rem;
  display: none;
}

.navbar-mobile ul {
  border-bottom: 1px solid #647196;
  color: #647196;
}

.navbar-mobile ul li {
  width: 125px;
  height: 39px;
}

.navbar-mobile ul .in-progress {
  border-bottom: solid #ad1fea;
  color: #3a4374;
  font-weight: 700;
}

.roadmap-content-container {
  width: 77.08%;
  height: 7.84%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  padding-top: 3rem;
}

.roadmap-content-container h5 {
  margin-bottom: 0.25rem;
  color: #3a4374;
}

.roadmap-content-container .content-header {
  margin-bottom: 0.313rem;
}

.roadmap-content-container .content-header span {
  color: #647196;
}

.roadmap-content-container .roadmap-content {
  width: 31.08%;
}

.roadmap-content-container .roadmap-content .content-item {
  margin-top: 1.5rem;
  padding: 1.938rem;
  position: relative;
  border-radius: 0.625rem;
  background-color: #ffffff;
}

.roadmap-content-container .roadmap-content .content-item span {
  margin-bottom: 1rem;
  color: #647196;
}

.roadmap-content-container .roadmap-content .content-item span i {
  font-size: 0.5rem;
  margin-right: 1rem;
}

.roadmap-content-container .roadmap-content .content-item p {
  color: #647196;
  margin-bottom: 1rem;
}

.roadmap-content-container .roadmap-content .content-item ol {
  max-width: 4.813rem;
  margin-bottom: 1rem;
  margin-top: 0;
}

.roadmap-content-container .roadmap-content .content-item .item-count {
  color: #3a4374;
}

.roadmap-content-container .roadmap-content .content-item .item-count span {
  width: 4.313rem;
  height: 2.5rem;
  color: #3a4374;
  margin-bottom: 0;
}

.roadmap-content-container .roadmap-content .content-item .item-count span i {
  font-size: 0.875rem;
  margin-right: 0.594rem;
  color: #3a4374;
}

.roadmap-content-container .roadmap-content .content-item .item-count li i {
  margin-right: 0.5rem;
  color: #cfd7ff;
}

.planned .item-decoration {
  background-color: #f49f85;
}

.planned .content-item i {
  color: #f49f85;
}

.in-progress .item-decoration {
  background-color: #ad1fea;
}

.in-progress .content-item i {
  color: #ad1fea;
}

.live .item-decoration {
  background-color: #62bcfa;
}

.live .content-item i {
  color: #62bcfa;
}

@media (max-width: 576px) {
  body {
    background-color: #f7f8fd;
  }
  .planned {
    display: none;
  }
  .raodmap-header {
    width: 100%;
    border-radius: 0;
  }
  .navbar-mobile {
    display: block;
  }
  .roadmap-content-container {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0 1.5rem;
  }
  .roadmap-content-container .roadmap-content {
    width: 99%;
    margin-top: 0;
  }
  .roadmap-content-container .roadmap-content .content-header {
    margin-bottom: 0;
    padding: 1.5rem 0;
  }
  .roadmap-content-container .roadmap-content .content-item {
    margin-top: 0px;
    margin-bottom: 1rem;
  }
}
