.flex {
    display: flex;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.display-block {
    display: block !important;
}

.display-inline-block {
    display: inline-block !important;
}

.display-inline {
    display: inline;
}

.text-align-left {
    text-align: left;
}

.max-width {
    max-width: 990px;
}

.marginauto {
    margin: auto;
}

.mg-top-28 {
    margin-top: 28px;
}

.mg-btm-30 {
    margin-bottom: 30px;
}

.margin-16-8 {
    margin: 16px 8px 0 0;
}

.margin-left-right-15 {
    margin: 0 15px;
}

.margin-left-30 {
    margin-left: 30px;
}

.margin-top-right-05 {
    margin: 0.5rem;
}

.padding-16-48 {
    padding: 16px 48px;
}

.padding-left-right-15 {
    padding: 0 15px;
}

.padding-30-28 {
    padding: 30px 10px;
}

.padding-14-24 {
    padding: 14px 24px;
}

.btn-lg {
    margin: 16px 8px 0 0;
    padding: 16px 48px;
}

.btn-md {
    margin: 16px 8px 0 0;
    padding: 14px 24px;
}

.btn-sm {
    margin: 16px 8px 0 0;
    padding: 8px 12.96px;
}

.br-50 {
    border-radius: 50px;
}

.br-5 {
    border-radius: 5px;
}

.font-size {
    font-size: 30px;
}

.bg-color-white {
    background-color: #fff;
}

.container {
    background-color: var(--background-color);
    /* display: flex; */
    padding: 1.88rem 1.81rem;
    text-align: left;
}

.primary-color {
    color: var(--primary-color) !important;
}

.primary-background {
    background-color: var(--primary-color);
}

.primary-background:hover {
    background-color: var(--primary-hover);
    border-color: #3e194b;
}

.primary-bordercolor {
    border-color: var(--primary-color);
}

.secondary-color {
    color: var(--secondary-color);
}

.secondary-background {
    background-color: var(--secondary-color);
}

.secondary-background:hover {
    color: #212529;
    background-color: #d9dbdc;
    border-color: #d9dbdc;
}


.secondary-bordercolor {
    border-color: var(--secondary-color);
}

.success-color {
    color: var(--success-color);
}

.success-background {
    background-color: var(--success-color);
}

.success-background:hover {
    background-color: var(--success-hover);
    border-color: #009366;
}

.success-bordercolor {
    border-color: var(--success-color);
}

.danger-color {
    color: var(--danger-color);
}

.danger-background {
    background-color: var(--danger-color);
}

.danger-background:hover {
    background-color: var(--danger-hover);
    border-color: #fb4d10;
}

.danger-bordercolor {
    border-color: var(--danger-color);
}

.warning-color {
    color: var(--warning-color);
}

.warning-background {
    background-color: var(--warning-color);
}

.warning-bordercolor {
    border-color: var(--warning-color);
}

.info-color {
    color: var(--info-color) !important;
}

.info-background {
    background-color: var(--info-color);
}

.info-background:hover {
    color: #fff;
    background-color: #4010ae;
    border-color: #3c0fa2;
}

.info-bordercolor {
    border-color: var(--info-color);
}


.dark-color {
    color: var(--dark-color) !important;
}

.dark-background {
    background-color: var(--dark-color);
}

.dark-background:hover {
    color: #fff;
    background-color: #3d394a;
    border-color: #373443;
}

.dark-bordercolor {
    border-color: var(--dark-color);
}

.link-color {
    color: var(--link-color);
}

.link-background {
    background-color: var(--link-color);
}

.link-bordercolor {
    border-color: var(--link-color);
}


.inversebtn-primary {
    background-color: rgba(94, 37, 114, 0.2);
    background-image: none;
    border-color: rgba(94, 37, 114, 0);
}

.inversebtn-secondary {
    background-color: rgba(217, 219, 220, 0.2);
    background-image: none;
    border-color: rgba(217, 219, 220, 0);
}

.inversebtn-success {
    background-color: rgba(0, 198, 137, 0.2);
    background-image: none;
    border-color: rgba(0, 198, 137, 0);
}

.inversebtn-danger {
    background-color: rgba(252, 114, 66, 0.2);
    background-image: none;
    border-color: rgba(252, 114, 66, 0);
}

.inversebtn-warning {
    background-color: rgba(255, 193, 0, 0.2);
    background-image: none;
    border-color: rgba(255, 193, 0, 0);
}

.inversebtn-info {
    background-color: rgba(77, 19, 209, 0.2);
    background-image: none;
    border-color: rgba(77, 19, 209, 0);
}

.inversebtn-light {
    background-color: rgba(248, 249, 250, 0.2);
    background-image: none;
    border-color: rgba(248, 249, 250, 0);
}

.inversebtn-dark {
    background-color: rgba(79, 74, 96, 0.2);
    background-image: none;
    border-color: rgba(79, 74, 96, 0);
}

.inversebtn-link {
    background-color: rgba(94, 37, 114, 0.2);
    background-image: none;
    border-color: rgba(94, 37, 114, 0);
}

/* btn-hover */

.btn-primary:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.btn-secondary:hover {
    background-color: var(--secondary-color);
    color: #fff;

}

.btn-success:hover {
    background-color: var(--success-color);
    color: #fff;
}

.btn-danger:hover {
    background-color: var(--danger-color);
    color: #fff;

}

.btn-warning:hover {
    background-color: var(--warning-color);
    color: #fff;

}

.btn-info:hover {
    background-color: var(--info-color);
    color: #fff;

}

.btn-light:hover {
    background-color: var(--light-color);
    color: #fff;
}

.btn-dark:hover {
    background-color: var(--dark-color);
    color: #fff;
}

.btn-link:hover {
    background-color: var(--link-color);
    color: #fff;
}

.black-color {
    color: black !important;
}

.btn-star {
    background-color: ;
}



/* circle-btn-hover */