.top-lent {
  color: #fff;
  padding: 13px 15px;
  text-align: center;
}

.top-lent h2 {
  font-size: 18px;
}

.content-container {
  text-align: center;
  padding: 0 15px 0 15px;
}

.title-text {
  text-align: center;
  display: block;
}

.title-text h2 {
  color: black;
  margin-top: 20px;
  margin-bottom: 10px;
  display: block;
}

.title-text p {
  color: #333333;
  margin-top: 0;
  margin-bottom: 60px;
}

.row {
  max-width: 1170px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-container {
  position: relative;
  overflow: hidden;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.item-container i {
  border-radius: 100%;
  margin: 20px;
  width: 130px;
  height: 130px;
  font-size: 52px;
  line-height: 120px;
}

.item-container h2 {
  margin-bottom: 0;
  padding: 13px;
  font-size: 30px;
  color: #333333;
}

.item-container p {
  padding: 0 17px 17px 0;
  margin: 0 0 10px;
  display: block;
}

.item-container a {
  border: 1px solid transparent;
  margin: 10px 0 20px;
  padding: 14px 35px;
  font-weight: 400;
  border-radius: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.4;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}

h1,
h2 {
  font-weight: 700;
  margin: 0;
}

a {
  text-decoration: none;
}

.a-color-br-pd a {
  color: #fff;
  border-radius: 40px !important;
  padding: 12px 35px;
}

.bring-to-center {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.item-container i,
h2,
p,
a {
  display: inline-block;
}

.mg-40-pd-10, .item-container, .onlyhover {
  margin: 40px auto;
  padding: 10px;
}

.padding-80-0 {
  padding: 80px 0;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.justify-center, .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.d-inline-block {
  display: inline-block;
}

.w-360-h-410 {
  width: 360px;
  height: 410px;
}

.border-color-white p, .demo02-bg p,
.border-color-white i,
.demo02-bg i {
  color: #fff;
  border-color: #fff;
}

.border-color-white h2, .demo02-bg h2 {
  color: #fff;
}

.p-absolute-z-index-content {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  content: '';
}

.transition-all-4-ease {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.translateX-opacity-1 {
  opacity: 1;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.top-lent-02 {
  background: #5656a6;
}

.demo02-bg {
  background-color: #5b5bae;
}

.demo02-bg h2,
.demo02-bg p {
  color: #fff;
}

.item-container-02 {
  max-width: 292px;
  height: 511px;
}

.item-container-02 h2 {
  margin-bottom: 15px;
}

.item-container-02 i {
  border: solid;
}

.item-container-02 a {
  color: #333;
  background: #fff;
}

.onlyhover {
  width: 262px;
  height: 431px;
}

.item-container-02:hover .onlyhover {
  -webkit-transform: scale(0.9, 0.9);
          transform: scale(0.9, 0.9);
  background: #5656a6;
}
