@import "general/general";
@import "common/components";
@import "component/component";

// #desktop-roadmap {
//   background-color: $magnolia;
//   padding: 94px 165px;
//   box-sizing: border-box;
// }

// .desktop-roadmap-container {
//   margin: auto;
//   display: flex;
//   justify-content: center;
//   box-sizing: border-box;
// }



  .raodmap-header {
    width: 77.08%;
    height: 7.84%;
    padding: 27px 40px 27px 32px;
    box-sizing: border-box;
    border-radius: $space-x;
    background-color: $rhino;
    margin: 0 auto;

    .roadmap-goback {
      @extend .f-col;
      color: white;
      a {
        @extend .font-s14-w7;
        cursor: pointer;
        i {
          margin-right: $space-15x;
          font-size: 12px;
        }
      }
      span {
        @extend .font-s24-w7;
      }
    }

    button {
      @extend .btn-1;
      @extend .justify-center;
      border-color: transparent;
      width: 9rem;
      height: 44px;
      padding: 0;
      @extend .font-s14-w7;
    }
  }

  .roadmap-content-container {
    border: solid ;
    width: 77.08%;
      height: 7.84%;
      box-sizing: border-box;
      margin: 0 auto;
      padding-top: 48px;
      display: flex;
      // grid-template-columns: auto auto auto;
      // grid-gap: 20px;
      .content-header {
        margin-bottom: 6px;
        h5 {
          color: $magnolia;
          @extend .font-s18-w7;
        }
        span {
          color: $dark-mint;
          @extend .font-s16-w4;
        }
      }
    .roadmap-content {
      border: solid;
      margin: 0 auto;
      width: 31.08%;

      .content-item{
        border: solid;
        margin-top: 24px;
      }

    }

  }




@media  (max-width:576px) {
  .raodmap-header {
    width:100%;
  }

}
