.naviqation-mainbox {
    border: 1px solid black;
    
    padding: 10px;
    text-align: right;
    background-color: rgb(227, 238, 207);
    
    
}
.naviqation-linkbox {
    border-bottom: 1px solid green;
    
    display: inline-block;
    background-color: rgb(238, 230, 230);    
}
.Plane {
    text-align: center;
}

.underbox {
    border: 1px solid black;
    margin: 0px;
    display: flex;
    justify-content: space-between;
}
    
}
.leftbox {
    border: 4px black;
    margin: 20px;
    
}
.leftbox img {
    border: 2px black;
    width: 690px;
    height: 300px;
    object-fit: cover;
}

.leftbox p { 
    /* border: 2px solid;*/
    margin: 2px;
    width: inherit;
    display: inline-block;
    text-align: start;

}
.aircrafttype {
    /* border: 1px solid; */
    height: 518px;
    display: flex;
    align-items: center;
}


}