.text-field, .text-field-default, .text-field-filled, .text-field-active, .text-field-error {
  border: 1px solid #f7f8fd;
  width: 255px;
  height: 48px;
  margin: 8px;
  padding: 13px 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  color: black;
  background: #f7f8fd;
  display: inline-block;
}

.text-field-active {
  border: 1px solid #4661e6;
}

.error-container {
  border: 1px solid;
  display: inline-block;
  color: red;
  position: relative;
}

.text-field-error {
  border: 1px solid #d73737;
  position: relative;
  overflow: visible;
  margin: 0 0 2px 0;
}
